//Colors
@import 'client_colors.scss';
//Fonts
@import 'client_fontface.scss';
$font_padrao: 'Roboto', sans-serif;
$icon: 'FontAwesome';


//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

//Mixins Vertical-align
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

//Mixin gradient
@mixin grad-yellow {
  background: -moz-linear-gradient(top, rgba(125,185,232,0) 30%, rgba(129,186,224,0) 32%, rgba(255,221,0,0.82) 88%, rgba(255,221,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125,185,232,0) 30%,rgba(129,186,224,0) 32%,rgba(255,221,0,0.82) 88%,rgba(255,221,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125,185,232,0) 30%,rgba(129,186,224,0) 32%,rgba(255,221,0,0.82) 88%,rgba(255,221,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffdd00',GradientType=0 ); /* IE6-9 */
}

//Mixins Placeholder
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
.br-left {
  border-radius: 5px 0 0 5px !important;
}
.br-right {
  border-radius: 0 5px 5px 0 !important;
}
//Mixins animation
@mixin fade-up-in($vendor: "") {
  0% {
    opacity: 0;
    #{$vendor}transform: translateY(20px);
  }
  100% {
    opacity: 1;
    #{$vendor}transform: translateY(0);
  }
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray !important;  
  font-size: 0.9rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray !important;  
  font-size: 0.9rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray !important;  
  font-size: 0.9rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray !important;  
  font-size: 0.9rem;
}
.hidden {
  display: none !important;
  transition: 0.3s;
}
.btn_client {
  background: $yellow;
  color: $gray;
  transition: 0.3s;
    &:hover {
      background: $orange;
      color: #ffffff;
      transition: 0.3s;
    }
}
input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid $orange;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 30px;
  height: 30px;
  border-width: 1;
  transition: all .3s linear;
  @include border-radius (3px);
  &:checked{
    background-color: $yellow-50;
    text-align: center;
    &:after {
      content: '\f00c';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;       
      position: absolute;
      top: 3px;
      left: 8px;
    }
  }
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}
.form-row {
  .btn_client {
    width: 100%;
    padding: 0.9rem;
  }
}
input[type="radio"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid $orange;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 25px;
  height: 25px;
  border-width: 1;
  transition: all .3s linear;
  @include border-radius (100px);
  &:checked{
    background-color: $yellow-50;
    text-align: center;
    &:after {
      content: '\f111';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;       
      position: absolute;
      font-size: 0.9rem;
      top: 3px;
      left: 6px;
      color: $orange;
    }
  }
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}
.form-check {
  .form-check-label {
    position: absolute;
    top: 9px;
    left: 41px;
  } 
}

.form-check-inline {
  .form-check-label {
    position: inherit;
    top: 2px;
    left: 1px;
  }
}
.form-control {
  color: $gray;
  border-color: $orange;      
}
.bootstrap-select {
  width: 100% !important;
  color: $gray;
  button {
    background: #fff;
    border-color: $orange;    
    &:focus,
    &:hover {
      background: #fff;
      border-color: $orange;    
    }
  }
  .dropdown-toggle {
    &.bs-placeholder {
      color: $gray;
    }
    &:before {
      display: none;
    }
    &:after {
      content: '\f0ab';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;
      border: 0 !important;
      margin-left: 0;
      margin-right: 12px;
      color: $orange !important;      
    }
  }
  &.show {
    .btn-light.dropdown-toggle {
      color: $gray;
      background-color: $yellow-50;
      border-color: $orange;    
    }
  }
  .dropdown-item{
    &.active {
      background-color: $yellow-50;
      color: $gray;
    }
  }
}
body {
  color: $gray;
}

//Header
header {
  .navbar {
    padding: 0 1.0rem;
    &.bg-light {
      background-color: #ffffff !important;
    } 
    .navbar-brand {
      img {
        height: 60px;
      }  
    }   
    .nav-item {      
      .nav-link {
        padding-right: 1.1rem;
        padding-left: 1.1rem;
        @include border-radius (30px); 
        color: $gray;
        transition: 0.3s; 
        &:hover {
          background: $yellow;
          transition: 0.3s;    
        }      
      }
      &.active {
        background: $yellow;        
        @include border-radius (30px); 
      }
    }  
  }  
  figure {
    margin-bottom: 0;
  }
  .social_header {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
      li {
        display: inline-block;
        margin: 5px;
        font-size: 1.2rem;
          a {
            color: $gray;
            &:hover {
              color: $yellow;
              transition: 0.3s;
            }
          }
      }
  }
}
//Solicite
.solicite {
  width: 100%;
  height: 481px;
  background: #fff;
  position: absolute;
  z-index: 2;
  h2 {
    padding-top: 15px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    font-style: italic;
    color: $gray;
  }
  .nav-link {
    color: #ffffff;
    background-color: $orange;      
    padding: 0.5rem 2.85rem;          
    text-transform: uppercase;
    font-weight: 700;
    &.active {
      background-color: $yellow;
      color: $gray;
    }
  }
  ul {
    margin-top: 20px;
  }
  .tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

//Simule
#modalSimule {
  .modal-md {
    max-width: 380px;
  }
}
.simule {
  padding-top: 10px;
  padding-bottom: 20px;
  h2 {
    padding-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 900;
    font-style: italic;
    color: $gray;
  }
  .close {
    color: $gray;
    opacity: 1;
    line-height: 1.4rem;
    text-shadow: 0;
    text-decoration: underline;
    font-size: 0.8rem;
  }    
}

//Carousel
.carousel {
  margin-bottom: 50px;
  .chamadaFixa {
    position: absolute;
    font-weight: 700;
    font-size: 2.8rem;
    color: $gray;
    line-height: 2.8rem;
    margin-top: 30px;
    left: 5%;
    font-style: italic;
  }
  .carousel-inner {
    height: 480px;
    width: 100%;                
    background-color: rgb(0,0,0);
    background: linear-gradient(120deg, rgba(0,0,0,0) 50%, rgb(255,221,0) 0);
    &:before {
      content: '';
      position: absolute;
      height: 480px;
      width: 100%;                
      background-image: url('../images/bg-carousel-home.png');
      background-position: center right;
      background-repeat: repeat-x;
      background-size: 100% auto;
    }
    .carousel-item {
      img {
        float: right;
        height: 380px;
        margin-top: 50px;          
      }
    }    
  }
  .carousel-caption {
    position: relative;
    color: $gray; 
    text-align: left;
    height: 480px;
    .infosCar {
      @include vertical-align(); 
      h2 {
        font-weight: 700;
        font-style: italic;
        font-size: 2.7rem;
        margin-bottom: 0;        
      }
      h4 {
        font-size: 0.9rem;
        font-weight: 300;        
        font-style: italic;
        span {
          font-weight: 400;        
          background: $orange;
          padding: 7px;
          font-size: 1rem;
          color: #ffffff;
        }
      }
      .btn {
        margin-top: 10px;
      }
    }
  }
  .carousel-indicators {
    li {
      background-color: $orange;
      width: 15px;
      height: 5px;
      &.active {
        background-color: $gray; 
      }
    }    
  }
}  

//Sections
section {
  padding-top: 30px;
  padding-bottom: 30px;
  .title {
    font-weight: 900;
    font-style: italic;
    font-size: 1.4rem;
  }
}

#showRoom {
  h2 {
    display: inline-block;
  }
  .scale-anm {
    transform: scale(1);
  }
  .nav {
    float: right;
    &:before {
      content: '*Selecione um tipo de veículo:';
      margin-right: 10px;
      padding-top: 6px;
      font-size: 0.8rem;
    }
    .nav-link {
      color: #ffffff;
      background-color: $orange;
      border-radius: 0;  
      padding: .2rem 1rem;          
      &.active {
        background-color: $yellow;
        color: $gray;
      }
    }    
  }
  #veiculos {
    padding: 30px 0; 
    
    .veic_thumb {
      width: 255px;
      height: 195px;  
      margin-bottom: 30px;            
      position: relative;
      border: 1px solid $yellow-50;      
      figure {
        transition: 0.3s;
        z-index: 1;        
      }
      .info_veic {                
        width: 243px;
        height: 90px;
        // background: blue;
        padding: 5px;        
        top: 105px;
        position: absolute;
        opacity: 1;
        transition: 0.3s;
        .cont {
          z-index: 3;
          @include vertical-align ();
          h3 {
            margin-bottom: 4px;
            font-weight: 900;        
            font-size: 1.4rem;
            font-style: italic;
            // background-color: $yellow;
            // background-color: $yellow-50;
            // @include grad-yellow ();
            // display: table;
            position: absolute;
            top: -116px;
            padding: 0 4px;
          }
          .parc {
            font-size: 0.8rem;            
            text-align: left;
            padding-top: 5px;
            span {
              // display: table;              
              margin-left: 5px;
              margin-bottom: 10px;
              font-weight: 400;        
              background: $gray;
              padding: 7px;
              font-size: 0.8rem;
              color: #ffffff;
            }            
          }
          .btn_client {
            background: $orange;
            color: #ffffff;
            padding: 4px 5px;
            font-size: 0.9rem;     
            margin: -4px 75px 0 !important;
            &:hover {
              background: $yellow;
              color: $gray;
            }       
          }
        }  
      } 
      &:hover {
        border-color: $yellow;
        transition: 0.3s;  
        // background: $yellow-50;
        @include grad-yellow ();
        // &:after {
        //   content: '';
        //   width: 255px;
        //   height: 195px;  
        //   position: absolute;
        //   top: 0;
        //   z-index: 2;
        //   background: $yellow-50;
        //   transition: 0.3s;  
        // }
        .info_veic {
          opacity: 1;
          transition: 0.3s;          
        }        
        figure {
          opacity: 0.5;
          transition: 0.3s;
        }
      }     
    }
  }
}

//Fique por Dentro
#fpDentro {
  .row {
    margin-bottom: 40px;
  }
  .pdl-0 {
    padding-left: 0;
  }
  .pdr-0 {
    padding-right: 0;    
  }
  .pd-l-10 {
    padding-left: 10px;
  }
  .pd-r-11 {
    padding-right: 11px;
  }
  .news {
    display: flex;
    figure {
      margin-bottom: 0;
      width: 280px;
      height: auto;  
    }
    &.txl{
      text-align: left;
    }
    &.txr{
     text-align: right;      
    }
    .date {
      background: $orange;
      display: table;
      padding: 2px 4px;
      position: absolute;
      top: 20px;
      color: #fff;
      .day{
        font-weight: 300;  
        margin-right: 3px;
        font-style: italic;
      }
      .month {
       font-weight: 700; 
       font-style: italic;  
      }
    }    
  }
  article {
    padding: 5px 10px;
    color: $gray;
    height: 183px;
    overflow: hidden;
    position: relative;
    div {
      @include vertical-align (); 
      h3 {
        font-size: 1.1rem;
      } 
      p {
        font-size: 0.8rem;
      }
      a {
        color: $gray;
        font-style: italic;
        text-decoration: underline;
      }
    }  
  }
}

//Detalhes
.jumbotron {
  background: transparent;
  background-image: url('../images/bg-carousel-home.png');
  background-position: center right;
  background-repeat: repeat-x;
  background-size: 100% auto;
  height: 600px;
  &.detailsCar {    
    h2 {
      font-weight: 900; 
      font-style: italic;
      font-size: 2.4rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

//Gallery
.gallery {
  ul {
    list-style: none;
    padding: 0;
    margin: -100px 0 0 0;
    li {
      display: inline;  
      &:first-child {
        margin-right: 5px;
      }
      a {
        position: relative;
        text-align: center;
        img {
          width: 120px;  
          opacity: 0.9;
          transition: 0.3s;                     
          &.img-thumbnail {
            border-color: $orange;    
            padding: 0;
            @include border-radius (0);                    
          }                  
        }
        &:hover {
          img {
            opacity: 1;   
            background-color: $yellow-50;
            transition: 0.3s;
          }
          &.video:before {
            color: $orange;
            transition: 0.3s;
          }
        }
        &.video:before {
          content: '\f144';
          font-family: 'Font Awesome\ 5 Free';
          font-weight: 900;
          position: absolute;
          font-size: 3.0rem;
          margin-top: 8px;                      
          left: 0;
          right: 0;
          color: $yellow;
          z-index: 2;
          transition: 0.3s;
        }
      }          
    }
     li + li {
      margin-left: 5px;
      margin-right: 5px;
     }
  }  
}

//Planos
#detailPlans {
  overflow: hidden;
  figure {
    margin-left: -200px;
  }
  .infos {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    .car {    
      h2 {
        font-weight: 700;
        font-style: italic;
        font-size: 2.4rem;
        margin-bottom: 0;
        color: $gray;
        &:after {
          content: 'a partir de:';
          font-size: 0.8rem;
          font-weight: 100;
          display: block;
          text-align: left;        
        }
      }
      span {
        background-color: $gray;
        color: #fff;
        font-style: italic;
        font-size: 1.2rem;
        padding: 8px 10px;            
      }
    }
    .plans {
      width: 48%;
      &:before {
        content: 'Planos Disponíveis:';
        font-size: 0.8rem;
        font-weight: 100;
        display: block;
        text-align: left;   
        font-style: italic;     
      }
      .filter-option-inner {
        font-size: 0.8rem !important;
        padding-top: 0.3rem;
      }
    }
  }
  .tablePlans {
    padding: 20px 10px;
  }
  .navPlans {
    ul {
      list-style: none;
      text-align: center;
      margin: 20px 0;
      padding: 0;
      li {
        display: inline;
        margin: 0;
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
}

//Table
.tableClient {
  thead {
    th {
      border-color: $yellow;
    }
    tr {
      background-color: $orange;
      border-color: $yellow;
      font-style: italic;     
      font-weight: 100;
      font-size: 0.9rem;
    }
  }
  tbody {
    tr {
      &:nth-of-type(odd){
        background-color: $yellow-50;
      }
    }
    td {
      font-weight: 100;
      vertical-align: middle;
      font-size: 0.7rem;
      padding: 0.4rem 0.75rem;
      border-color: $yellow;
      strong {
        font-weight: 700;
        display: block;
        font-size: 0.9rem;
      }
      &:first-child {
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}

//Tabs / detailsCar
#detailsCar {
  padding-bottom: 100px;
  .nav-tabs {
    border-color: $orange;
    li + li {
      margin-left: 20px;
      margin-right: 20px;
    }
    .nav-link {
      color: $gray;
      font-weight: 700;
      padding: 0.8rem 1.5rem;
      font-style: italic;  
      font-size: 1.2rem;
      background-color: $yellow;
      border-color: $orange;
      transition: 0.3s;
      @include border-radius (0);
      &.active {
        border-color: $orange $orange #fff;
        background-color: #fff;
        &:hover {
          border-color: $orange $orange #fff;
          background-color: #fff;
          color: $gray;
        }
      }
      &:hover {
        border-color: $orange;
        background-color: $orange;
        color: #fff;
        transition: 0.3s;
      }
    }
  }
  .contentPai {
    border: 1px solid;
    border-color: #fff $orange $orange; 
    padding: 20px 0 5px;
    .imgFicha {
      border: 1px solid $orange;
    }
    .navFicha {
      li {
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 12px;
        position: relative;
        &:nth-child(1),
        &:nth-child(6){
          margin-left: 0px;
        }
        &:nth-child(5),
        &:nth-child(10){
          margin-right: 0px;
        }
      }
      .nav-link {
        background-color: $yellow;
        text-align: center;
        font-size: 0.6rem;    
        line-height: 0.3rem;    
        padding: 0 !important;
        @include border-radius(0);      
        width: 95px;
        height: 95px;
        color: $gray;
        span {        
          @include vertical-align();
        }
        &.active {
          background-color: $orange;
          color: #fff;
        }
      }      
    }  
    h3 {
      font-weight: 700;
      font-size: 1.9rem;
      font-style: italic;
    }
    p {
      font-size: 0.8rem;
    }
    thead {
      tr {
        font-weight: 700;
        font-size: 1.2rem;        
      }
    }  
    th, td {
      padding: 0.1rem 0.5rem;
    }
    tbody {
      td {
        &:first-child {
          font-weight: 700;
          font-size: 1.0rem;
          text-align: left;
        }
      }
    }
  }
  .comentario {
    border-bottom: 2px solid $orange;
    margin-bottom: 30px;      
    .avaliacao {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .rating {
        margin-bottom: 10px;
      }
      .panelComent {
        ul {
          list-style: none;
          padding: 0;
          margin: 0 0 10px 0;
          li {
            display: inline;
            span {
              &.nameUser{
                font-size: 1.0rem;
                font-weight: 700;
                font-style: italic;                
                &:after {
                  content: ' -';
                }
              }
              &.date{
                margin-right: 10px;
              }
            }
            a {
              &.btn_client {
                padding: 2px 10px;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
    .collapse {
      &.show {
        width: 100%;
        display: block !important;
      }
    }
  }
  .justify-content-between {
    margin-bottom: 20px;
    .badge {
      background-color: $orange;
      color: #fff;
      @include border-radius (100px);
    }
  }
}

//Duvidas
#duvidas {
  .col-md-12 {
    display: flex;    
  } 
  figure {
    margin-top: -77px;
  }
  &:before {
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 150px;
    background: $yellow;
  }
  .chamada {
    padding: 10px 0;
    h3 {
      color: $gray;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 0; 
    }
    p {
      font-size: 0.9rem;
    }
    .btn_client {
      background: $orange;
      color: #ffffff;
      padding: 4px 5px;
      font-size: 0.9rem;
      &:hover {
        background: $brown;
      }
    }
  }
}

//Ekko-lightbox
.ekko-lightbox {
  .modal-content {    
    .modal-body {
      padding: 0;
      .ekko-lightbox-container {
        border-color: $orange;
      }  
    }
  }  
}

//Footer
footer {
  border-bottom: 3px solid $yellow;
  padding-bottom: 10px;
  .infos_footer {
    border-bottom: 1px solid $gray;
    margin-bottom: 10px;
    display: flex; 
    justify-content: space-around;
    text-align: center;
    .central_vendas {
      font-size: 0.7rem;      
      strong {
        font-weight: 700;
        font-size: 1.0rem;
        font-style: italic;        
        padding: 0 2px;
      }
    }
    .social {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &:before {
          content: 'Sigam nossas Redes Sociais:';          
          font-size: 0.7rem;
          height: 30px;
          vertical-align: middle;
          display: inline-block;          
        }
          li {
            display: inline-block;            
            margin: 0 5px;
            a {
              color: $gray;
              font-size: 1.4rem;
              &:hover {
                color: $yellow;
                transition: 0.3s;
              }
            }
          }
      }
    }
  }
  .nav_footer {
    list-style: none;
    margin: 0;
    padding: 0;
      li {
        display: inline-block;
        margin: 5px 5px 15px;
        a {
            color: $gray;
            font-size: 0.9rem;
            font-weight: 700;
            &:hover {
              color: $yellow;
              transition: 0.3s;
              text-decoration: none;
            }
          }
      }
  }
  .copy {
    font-size: 0.7rem;
  }
}

//Media Queries
@import 'client_style_queries.scss';