<div class="row">
	<div class="col-12 col-md-6">
		<figure class="imgFicha">
			<img src="images/motor.jpg" alt="motor" class="img-fluid">
		</figure>
		<nav class="navFicha">
			<ul class="nav nav-pills">
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="pill" href="#motor"><span>Motor</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#suspensao"><span>Suspensão</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#freios"><span>Freios</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#direcao"><span>Direção</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#dimensao"><span>Dimensões</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#desempenho"><span>Desempenho</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#consumo"><span>Consumo</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#item-8"><span>Item</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#item-9"><span>Item</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#item-10"><span>Item</span></a>
			  </li>
			</ul>		
		</nav>	
	</div>
	<div class="col-12 col-md-6">
		<div class="tab-content">
		  <div class="tab-pane container active" id="motor">
			<h3>Motor</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat labore dolorem eligendi nulla nemo obcaecati itaque vel, id deserunt ea vitae quis, ducimus natus, eaque expedita nihil unde explicabo aliquam.</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="suspensao">
			<h3>Suspensão</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In impedit accusantium, nostrum, adipisci similique, vero id corporis consectetur inventore minima nam quidem perspiciatis rem. Suscipit nobis magnam eveniet. Rem, adipisci.</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="freios">
			<h3>Freios</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit dignissimos inventore quidem a dolorem accusamus molestiae quos odio doloremque alias error reprehenderit aliquid, numquam harum voluptatum eveniet, est quod reiciendis.</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="direcao">
			<h3>Direção</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ducimus cupiditate expedita quia dicta velit consequatur optio nihil quis beatae at commodi adipisci ut, recusandae ex! Quod quidem possimus ab!</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="dimensao">
			<h3>Dimensão</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sed similique corrupti, unde sint beatae quam consectetur obcaecati quos, soluta voluptatem veritatis incidunt consequatur facilis reiciendis tenetur repudiandae repellendus modi.</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
						<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="desempenho">
			<h3>Desempenho</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa amet, sunt itaque laboriosam atque commodi temporibus neque beatae deserunt quidem labore, delectus culpa odio, minima sed fugiat ea officia repellendus.</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="consumo">
			<h3>Consumo</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero delectus quia minus molestias sequi voluptatum nostrum dignissimos, sint id, beatae laborum perspiciatis labore incidunt nam accusantium obcaecati atque assumenda nulla!</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="item-8">
			<h3>Item 8</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolorem praesentium, ducimus dolor qui sit ratione eaque eius tempora, recusandae quaerat non modi quo laborum! Tempora aut repellendus quo natus.</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="item-9">
			<h3>Item 9</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae assumenda eos temporibus nihil sunt, iusto nostrum possimus maiores eius, obcaecati ab molestias natus iure error ratione nemo enim nesciunt, repudiandae!</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		  <div class="tab-pane container fade" id="item-10">
			<h3>Item 10</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae explicabo, laborum ipsam praesentium possimus sunt, beatae exercitationem aliquam perferendis. Doloremque commodi iste architecto, expedita! Culpa laudantium enim, incidunt illo hic.</p>
			<div class="tableInfos">
				<table class="table table-striped table-bordered tableClient">
					<thead>
	                  <tr>
	                    <th colspan='2'>Caracteristicas</th>
	                  </tr>
	                </thead>    
	                <tbody>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                	<tr>
	                		<td>item</td>
	                		<td>Lorem ipsum dolor sit.</td>
	                	</tr>
	                </tbody>
				</table>	
			</div>
		  </div>
		</div>
	</div>
</div>