<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container">
		<a class="navbar-brand" href="index.html">
		  	<figure>
		  		<img src="images/logo-renault.png" alt="logo-renault" class="img-fluid">
		  	</figure>
	  	</a>		  	
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCLient" aria-controls="navbarCLient" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarCLient">
			<ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a data-scroll class="scroll_client nav-link" href="">Quem Somos</a>
		      </li>
		      <li class="nav-item">
		        <a data-scroll class="scroll_client nav-link" href="">Dúvidas</a>
		      </li>		      
		      <li class="nav-item">
		        <a data-scroll class="scroll_client nav-link" href="">Blog</a>
		      </li>
		      <li class="nav-item">
		        <a data-scroll class="scroll_client nav-link" href="">Contato</a>
		      </li>
		    </ul>
		    <ul class="social_header">
		    	<li><a href="" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
				<li><a href="" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
		    </ul>	
	  	</div>
	  </div>
	</nav>
</header>