<div class="simule">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Simule seu Consórcio</h2>	
				<form action="" id="simule">
					<div class="form-row">
						<div class="form-group col-12">
							<input type="text" class="form-control" id="nome" placeholder="*Seu Nome">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-12">
							<input type="email" class="form-control" id="email" placeholder="*Seu E-mail">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-12 col-md-6">
							<input type="tel" class="form-control" id="tel" placeholder="*Seu Telefone">
						</div>
						<div class="form-group col-12 col-md-6">
							<input type="tel" class="form-control" id="tel2" placeholder="*Seu Telefone">
						</div>
					</div>	
					<div class="form-row">
						<div class="form-group col-12">
							<input type="text" class="form-control" id="local" placeholder="*Bairro ou CEP">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-12">
							<small>Deseja receber contrato através de que canal?</small>
						</div>																
						
						<div class="form-group col-12">
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="cCanal" id="cemail" value="option1" checked>
							  <label class="form-check-label" for="cemail">E-mail</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="cCanal" id="ctelefone" value="option2">
							  <label class="form-check-label" for="ctelefone">Telefone</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="cCanal" id="cwhatsapp" value="option3">
							  <label class="form-check-label" for="cwhatsapp">Whatsapp</label>							
							</div>
						</div>	
					</div>	
					<div class="form-row">
						<div class="form-group col-12">
							<select class="selectpicker" id="timeContact" data-selected-text-format="count" title="Qual o melhor horário para contato?">
			                  <option value="time1">Horário 1</option>
			                  <option value="time2">Horário 2</option>
			                  <option value="time3">Horário 3</option>
			                </select>
			        	</div>
			    	</div>				    	
					<div class="form-group">
					    <div class="form-check">
					      <input class="form-check-input" type="checkbox" id="rNovidades2">
					      <label class="form-check-label" for="rNovidades2">
					        Desejo receber novidades
					      </label>
					    </div>
					</div>
					<div class="form-row">
						<div class="form-group col-12">
							<a href="detalhe.html" class="btn btn_client">Enviar</a>
						</div>
					</div>
					<div class="form-row">
						<div class="col-6"><small>*Não enviamos spam</small></div>
						<div class="col-6"><a href="" class="close" data-dismiss="modal" aria-label="Close">Agora Não</a></div>
					</div>
				</form>		
			</div>
		</div>
	</div>
</div>